__pycache__/
*.py[cod]
*.egg-info/
.venv/
build/
dist/
cache/
*.img
*.img.gz
*.img.xz
*.bin
*.partial
*.e2undo
*.qcow2
.DS_Store
firstboot.json
*.pem
*.key
id_*
known_hosts
ssh_config
*.jar
*.apk
*.dtb
*.log
*.har
*.pcap
*.pcapng
*.mkv
*.mka
*.mp4
*.wav
*.nv12
*.bgra
*.raw
